p, h3 {
    margin: 0;
}

#canvas1 {
    border: 5px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    font-family: 'Creepster', cursive;
}

#controls {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 15px;
}

img {
    display: none;
}